*{
    margin:0;
    padding: 0;
}
#box-pai{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 550px;
    font-family: 'Open Sans', sans-serif;
}
.box-filha{
    border-radius: 15px;
    width: 86%;
    height: 154px;
    margin-left: 7%;
    display: flex;
    background-color: #D9D9D9;
    gap:5%;
}
.box-neta{
    height: 100%;
    width: 50%;
    display: block;
}
.box-neta div{
    display: flex;
    margin-top: 10px;
    gap: 5px;
}
.box-filha h3,h2{
    margin-top: 10px;
}
.box-filha h3{
    color:#777777;
    font-size: 65%;
}
.box-filha h2{
    font-size: 90%;
    width:90%;
    color: #939393;
}
.box-filha h4{
    font-size: 65%;
    margin: auto 0 auto 0;
    color: #939393;
}
.img-1{
    width: 50%;
    object-fit: cover;
    height: 100%;
    border-radius: 15px 0 0 15px;
}
.img-2{
    height: 20px;
    width: 20px;
    border-radius: 100%;
}
@media (min-width: 480px) {
    .box-filha{
        height: 246px;
        border-radius: 23px;
    }
    .img-1{
        border-radius: 23px 0 0 23px;
    }
    #box-pai{
        height: 850px;
    }
    .box-filha h4,.box-filha h3{
        font-size: 95%;
    }
    .box-filha h3,.box-filha h2{
        margin-top: 15px;
    }
    .box-filha h2{
        font-size: 165%;
    }
    .img-2{
        width: 30px;
        height: 30px;
    }
    .box-neta div{
        margin-top: 15px;
    }
  }
  @media (min-width: 768px){
    .box-filha{
        height: 393px;
        border-radius: 36px;
    }
    .img-1{
        border-radius: 36px 0 0 36px;
    }
    #box-pai{
        height: 1400px;
    }
    .box-filha h4,.box-filha h3{
        font-size: 152%;
    }
    .box-filha h3,.box-filha h2{
        margin-top:24px;
    }
    .box-filha h2{
        font-size: 244%;
    }
    .img-2{
        width: 48px;
        height: 48px;
    }
    .box-net div{
        margin-top:24px ;
    }
  }
  @media (min-width: 1024px){
    .box-filha{
        margin: 0 auto 0 auto;
        width: 880px;
    }
  }