
header{
    margin: 0 0 30px 0;
    height: 100px;
    background-color: white;
}

.rede{
  background-color: #004a8d;
  padding: 0.5rem;
  display: flex;
  height: 20%;
  list-style-type: none;
}

.rede #redes{
  margin: 0 1rem;
}

.rede #redes a{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  transition: 0.5s;
}

.rede #redes a:hover{
  color: rgb(192, 192, 192);
}
nav{
  height: 80%;
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: space-between;
}
nav div{
  display: flex;
  justify-content: space-around;
  height: 100%;
  width: 30%;
}
nav img{
  height: 80%;
  margin: auto 0 auto 0;
}

nav button{
    height: 60%;
    width: 40%;
    font-size: 20px;
    margin:auto 0 auto 0;
}

/* @keyframes cachoeira1{
  0% { 
    opacity: 0;
    margin: -5vw 0 0 0;
    };
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

@keyframes cachoeira2{
  0% { opacity: 0;};
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

@keyframes cachoeira3{
  0% { opacity: 0;};
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

@keyframes cachoeira4{
  0% { opacity: 0;};
  50% { opacity: 0.5;};
  100% { opacity: 1;};
} */
