
header{
    margin: 0 0 30px 0;
    height: 100px;
    background-color: white;
}

.rede{
  background-color: #004a8d;
  padding: 0.5rem;
  display: flex;
  height: 20%;
  list-style-type: none;
}

.rede #redes{
  margin: 0 1rem;
}

.rede #redes a{
  text-decoration: none;
  color: white;
  font-size: 0.8rem;
  transition: 0.5s;
}
.rede #redes a:hover{
  color: rgb(233, 230, 255);
}
nav{
  height: 80%;
  width: 100%;
  background-color: rgb(234, 238, 253);
  display: flex;
  justify-content: space-between;
}
nav img{
  height: 80%;
  margin: auto 0 auto 0;
}
#caixa-pai{
  height: 100%;
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.dropdown button{
  width: 100%;
  text-align: center;
  height: 50px;
  border: none;
  background-color: rgba(196, 37, 37, 0);
}
.dropdown button p{
  margin: auto 0 auto 0;
  padding: 17.5px 0px;
}
.dropdown {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 40%;
  margin: 14px 0;
  z-index: 1;
  border: 1px solid black;
  justify-content: space-around;
}
.dropdown-escondido {
  display: none;
  left: -1px;
  border:1px solid black;
  width: 100%;
  z-index: 1;
  border-top: none;
  animation-name: exemplo;
  animation-duration:0.75s;
  position: relative;
}
.dropdown-escondido ul{
  list-style: none;
}
.dropdown-escondido li{
  text-align: center;
  padding: 12px 0;
  width: 100%;
}
.dropdown-escondido li:hover{
  background-color: burlywood;
}
.dropdown:hover{
  border-bottom: none;
}
.dropdown:hover .dropdown-escondido {
  display: block;
}
@keyframes exemplo{
  0% { 
    opacity: 0;
    margin: -5vw 0 0 0;
    };
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}
@media(min-width:768px){
  .caixa-pai{
    display: none;
  }
}
