* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*==================MAIN===================*/
html{
    background-color: #f5f4f4;
}

#principios{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem 0;
}
/*========================CARDS=========================*/
.principiosTitulo{
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 5rem 0 0 0;
}

.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  margin: 5rem 0;
}

.card {
  max-width: 100%;
  margin: 0 auto;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  margin: 0 auto;
}

.card-body {
  max-width: 60%;
  margin: 10px auto;
  text-align: center;
}

.card-title{
  font-size: large;
  margin: 0.5rem 0;
}

.card-text{
  text-align: justify;
  font-size: small;
  margin: 0.5rem 0;
}

/*========================ODS=========================*/

.colTituloOds{
  display: flex;
  justify-content: center;
  text-align: center;
  padding: 5rem 0;
}

#tituloOds{
  color: black;

}

#cards{
  display: flex;
  flex-wrap: wrap;
  width: 90%;
  height: auto;
  justify-content:center;
  margin:0 auto;
  gap:1rem;
}
#cards img {
  width: 100%;
  height: 100%;
}
#cards button {
  width: 100%;
  height: 100%;
}
#cards form{
  width: 15%;
  transition: transform 0.2s;
}
#cards form:hover {
  transform: scale(1.2); /* Aumentando o tamanho */
  z-index: 1; /* Ajustando a ordem de empilhamento */
}

/* Ajustando a origem da transformação */
#cards form:not(:first-child) {
  transform-origin: center center;
}

/* Impedindo que as imagens encolham */
#cards form:first-child {
  flex-shrink: 0;
}
@media (max-width:1024px){
  #cards form {
    width: 18%;
  }
}
@media (max-width:764px){
  #cards form {
    width: 21%;
  }
}
@media (max-width:500px){
  #cards form {
    width: 25%;
  }
}




/*====================CURIOSIDADE========================*/
.curiosidade{
  width: 75%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10rem auto;
  background-color: #dddddd;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff) 1;
}

#curiosidadeDivImg{
  width: 30%;
  display: flex;
}

#curiosidadeImg{
  width: 70%;
}

.curiosidadeDivTexto{
  width: 70%;
  padding: 0 4rem;
}

#curiosidadeTexto p{
  line-height: 2.5rem;
  font-size: 1rem;
}

/*===========================MEDIA PARA TELA 2560PX===========================*/

@media screen and (max-width: 2560px) {
  #curiosidadeTexto p{
    font-size: 35px;
    line-height: 3rem;
  }
}


/*===========================MEDIA PARA TELA 1440PX===========================*/
@media screen and (max-width: 1440px) {
  #curiosidadeTexto{
    font-size: 15px;
    line-height: 2rem;
  }
}

/*===========================MEDIA PARA TELA 1024PX===========================*/
@media screen and (max-width: 1025px) {
  .curiosidadeDivImg{
    width: 70%;
  }
  
  .curiosidadeDivTexto{
    padding: 0 2rem;
  }
  
  #curiosidadeTexto{
    font-size: 12px;
    line-height: 2rem;
    padding: 0;
  } 

}

/*==========CARDS===========*/
  #principios strong{
    font-size: 1.5rem;
  }

  .card1{
    display: none;
  }
/*===========================MEDIA PARA TELA 425PX===========================*/
@media screen and (max-width: 445px) {

/*==========MAIN===========*/
  #divPai{
    margin: 0 0 2rem 0;
  }

/*==========CARDS===========*/
#principios{
  margin: 0 0 2rem 0;
}

#principios strong{
  font-size: 1rem;
}

.card-deck{
  margin: 0 0 2rem 0;
}

.card2{
  display: none;
}

.card:not(:last-child){
  margin: 0 1rem 0 0;
}

.card2{
  display: none;
}

.card-title{
  font-size: 1rem;
}

.card-text{
  height: 5vh;
  font-size: 6px;
}

/*==========CURIOSIDADES=============*/

.curiosidade{
  height: 30vh;
  margin: 3rem;
}

.curiosidadeDivImg{
  width: 70%;
}

.curiosidadeDivTexto{
  padding: 0 2rem;
}

#curiosidadeTexto{
  font-size: 8px;
  line-height: 0.5rem;
  padding: 0;
} 

/*===========================MEDIA PARA TELA 375PX===========================*/
@media screen and (max-width: 375px){

/*==========CARDS===========*/
  .card:not(:last-child){
    margin: 0;
  }

  #card3{
    margin: 0 0 0 -1rem;
  }

  #card3 .cardImg{
    margin: 0 auto -0.5rem auto;
  }

  .card-title{
    font-size: 10px;
  }

/*===========================MEDIA PARA TELA 320PX===========================*/
@media screen and (max-width: 321px) {
  .linha2{
    margin: 0 0 -20px 0;
  }

  .coluna1 .subcol1{
    height: 0;
  }

  .coluna2 .linha,
  .coluna3 .linha{
    height: 3vh;
  }

  /*==========CARD===========*/
  #card3 .cardImg{
    margin: 0 auto;
  }

  #card3,
  #card4{
    margin: 0 0 0 1.5px;
  }

  .curiosidade{
    height: 20vh;
    margin: 3rem;
  }
  
  .curiosidadeDivImg{
    width: 70%;
  }
  
  .curiosidadeDivTexto{
    padding: 0;
  }
  
  #curiosidadeTexto{
    font-size: 6px;
    line-height: 0.5rem;
    padding: 0;
  } 
}
}
}

  /*=================CAROUSEL======================*/
#div-filho{
  margin-top: 50px;
}
  .swiffy-slider{
    height: 500px;
    width: 75%;
    margin: 0 auto 30px auto;
    overflow: none;
}
.swiffy-slider img{
  margin: 0 auto 30px auto;
    width: auto;
    object-fit: cover;
    height: 100%;
}
.swiffy-slider li{
    display: flex;
    justify-content: center;
    height: 500px;
}
.slider-nav.slider-nav-next::after {
    transform: rotate(180deg);
}
@media (max-width:800px){
    .swiffy-slider{
        height: 350px;
        width: 70%;
    margin: 0 auto 0 auto;
    }
    .swiffy-slider li{
        display: flex;
    justify-content: center;
    height: 350px;
    }
}
@media (max-width:500px){
    .swiffy-slider{
    height: 250px;
    width: 70%;
    margin: 0 auto 0 auto;
    }
    .swiffy-slider li{
    display: flex;
    justify-content: center;
    height: 250px;
    }
}
@media (max-width:350px){
    .swiffy-slider{
        height: 200px;
        width: 70%;
        margin: 0 auto 0 auto;
    }
    .swiffy-slider li{
        display: flex;
        justify-content: center;
        height: 200px;
    }
    .swiffy-slider li img{
        height: 200%;
    }
}
@media (min-width:1024px){
    div.swiffy-slider{
        width: 1024px;
    }
    .swiffy-slider li{
        width: 1024px;
    }
    .swiffy-slider li{
      width: 1024px;
  }
    .slider-container{
        width: 1024px;
    }
    }