*{
  margin: 0;
  padding: 0;
}

.fundo .row{
  display: flex;
  justify-content: center;
}

#col1{
  width: 50%;
  border: 1px solid black;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-container {
  flex-direction: column;
}

.meu-botao {
  width: 13vw;
}

#col2{
  width: 50%;
  display: flex;
  justify-content: center;
  border: 1px solid black;

}

#imgEsquerda{
  width: 20vw;
  height: auto;
  margin: 0 4vw 0 0;
}

#imgDireita{
  width: 20vw;
  height: auto;
}