* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*===================HEADER======================*/

header{
  margin: 0 0 1rem 0;
  height: 5vh;
  background-color: #004a8d;
}

.colsheader {
  display: flex;
  flex-wrap: wrap;
}

.headercol {
  display: inline-block;
  justify-content: center;
  align-items: center;
  background-color: #004a8d;
  width: 100%;
}

.colsheader .headercol1{
  align-content: center;
  line-height: 4vh;
  text-align: left;
  width: 50%;
  font-size: small;
  color: white;
}

#logo{
  width: 2vw;
  height: auto;
  margin: 0 0 0 1rem;
}

.colsheader .headercol2,
.colsheader .headercol3,
.colsheader .headercol4,
.colsheader .headercol5{
  width: 25%;
}


.colsheader {
  display: flex;
  flex-wrap: wrap;
}


/*=================DROPWDOWN===============*/

.dropdown1,
.dropdown2,
.dropdown3,
.dropdown4 {
  position: relative;
  display: inline-block;
}

/*Estilo do  dropdown*/

.dropdown-header1,
.dropdown-header2 {
  font-size: small;
  background-color: #004a8d;
  color: white;
  width: 24.6vw;
  height: 5vh;
  cursor: pointer;
  z-index: 2;
  position: inherit;
  word-wrap: break-word;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropdown-header1 .dropdown-options2 p,
.dropdown-header2 .dropdown-options2 p{
  font-size: 5px;
}

/*Deixando o :hover funcionando quando o usuário passa o mouse pela opções*/
.dropdown-header1:hover, 
.dropdown-header2:hover, 
.dropdown1:hover .dropdown-header2,
.dropdown2:hover .dropdown-header2 {
  background-color: #012344;
  height: 5vh;
  color: #fff;
}

/*Estilização das opções*/
.dropdown-options2 {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  font-size: small;
}

.option1{
  animation: cachoeira1 1s;
}

.option2{
  animation: cachoeira2 1.5s;
}

.option3{
  animation: cachoeira3 2s;
}

.option4{
  animation: cachoeira4 2.5s;
}

/*Animação*/
@keyframes cachoeira1{
  0% { 
    opacity: 0;
    margin: -5vw 0 0 0;
    };
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

@keyframes cachoeira2{
  0% { opacity: 0;};
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

@keyframes cachoeira3{
  0% { opacity: 0;};
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

@keyframes cachoeira4{
  0% { opacity: 0;};
  50% { opacity: 0.5;};
  100% { opacity: 1;};
}

/*Fazendo o dropdown aparecer*/
.dropdown1:hover .dropdown-options2,
.dropdown2:hover .dropdown-options2 {
  display: block;
}

/*Dando tamanho ao botão de opção*/
.dropdown-option2 {
  padding: 5px;
  width: 23.5vw;
  height: 4vh;
  font-size: small;
  border: 1px solid #ccc;
  border-radius: 5%;
  background-color: #fff;
  color: #333;
  margin: 0;
  z-index: 1;
}


/*:hover das opções*/
.dropdown-option1:hover 
.dropdown-option2:hover{
  background-color: #f2f2f2;
  cursor: pointer;
  border-radius: 5%;
  z-index: 1;
}

/*==================MAIN===================*/
#divPai{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 6rem 0;
}

#divFilho{
  background-color: #f5f4f4;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#principios{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 4rem 0;
}



/*=================CAROUSEL======================*/
.slider{
  margin: 0 auto;
  width: 100%;
  height: 300px;
  overflow: hidden;
}

.slides{
  width: 400%;
  height: 300px;
  display: flex;
}

.slides input{
  display: none;
}

.slide{
  width: 25%;
  position: relative;
  text-align: center;
  transition: 2s;
}

.slide img{
  width: 400px;
}

.manual-navigation{
  position: absolute;
  width: 100%;
  margin: -40px 0 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.manual-btn{
  border: 2px solid white;
  padding: 5px;
  border-radius:  10px;
  cursor: pointer;
  transition: 0.5s;
}

.manual-btn:not(:last-child){
  margin-right: 1rem;
}

.manual-btn:hover{
  background-color: white;
}

#radio1:checked ~ .first{
  margin-left: 0;
}

#radio2:checked ~ .first{
  margin-left: -25%;
}

#radio3:checked ~ .first{
  margin-left: -50%;
}

#radio4:checked ~ .first{
  margin-left: -75%;
}

.navigation-auto div{
  border: 2px solid pink;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
}

.navigation-auto{
  position: absolute;
  width: 100%;
  margin-top: 260px;
  display: flex;
  justify-content: center;
  transition: 1s;
}

.navigation-auto div:not(:last-child){
  margin-right: 1rem;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
  background-color: #fff;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
  background-color: #fff;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
  background-color: #fff;
}

#radio4:checked ~ .navigation-auto .auto-btn4{
  background-color: #fff;
}


/*========================CARDS=========================*/
.card-deck {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1.5rem;
  margin: 0 0 5rem 0;
}

.card {
  max-width: 100%;
  margin: 0 auto;
}

.cardImg {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 40%;
  margin: 0 auto;
}

.card-body {
  max-width: 60%;
  margin: 10px auto;
  text-align: center;
}

.card-title{
  font-size: large;
  margin: 0.5rem 0;
}

.card-text{
  text-align: justify;
  font-size: small;
  margin: 0.5rem 0;
}




/*========================ODS=========================*/
.cards1,
.cards2,
.cards3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgODS {
  width: 12%;
  height: auto;
  margin: 0 1rem 1rem 0;
  transition: transform 0.2s; /* Adicionando transição */
}

.imgODS:hover {
  transform: scale(1.2); /* Aumentando o tamanho */
  cursor: pointer;
  z-index: 1; /* Ajustando a ordem de empilhamento */
}

/* Ajustando a origem da transformação */
.imgODS:hover:not(:first-child) {
  transform-origin: center center;
}

/* Impedindo que as imagens encolham */
.imgODS:first-child {
  flex-shrink: 0;
}

<<<<<<< HEAD





/*====================CURIOSIDADE========================*/
.curiosidade{
  width: 75%;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 10rem auto;
  background-color: #dddddd;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff) 1;
}

#curiosidadeDivImg{
  width: 30%;
  display: flex;
}

#curiosidadeImg{
  width: 70%;
}

.curiosidadeDivTexto{
  width: 70%;
  padding: 0 4rem;
}

#curiosidadeTexto p{
  line-height: 2.5rem;
  font-size: 1rem;
}

=======
>>>>>>> 45ec4c5a04b14bd2e24b05fa32de98e9cd1f23a7
/*====================FOOTER========================*/

footer{
    height: 510px;
    width: 100%;
    background-color: #004a8d;
    
}
#footer-box{
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;
}
<<<<<<< HEAD
#aFooter{
=======
footer a, footer h3,footer p{
    color: white;
>>>>>>> 45ec4c5a04b14bd2e24b05fa32de98e9cd1f23a7
    text-decoration: none;
    color: white;
  }
#h3footer{
  color: white;
}

footer div{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 33%;
    align-items:center;
    gap: 27px;
}
footer img{
    height: 50px;
    width: 50px;
}
footer p{
    text-align: center;
    padding: 15px 0 8px 0 ;
}
@media(max-width:600px){
    footer{
        height: 350px;
    }
    footer h3{
        font-size: 14px;
    }
    footer #afooter{
        font-size: 11px;
    }
    footer img{
        height: 30px;
        width: 30px;
    }
}
@media(min-width:1296px){
    #footer-box{
        width: 1296px;
        margin: 0 auto 0 auto;
    }
}

/*===========================MEDIA PARA TELA 2560PX===========================*/

@media screen and (max-width: 2560px) {
  .linha2{
    display: none;
    margin: 0 0 -2rem 0;
  }

  .coluna1 .subcol1 #logoYT,
  .coluna1 .subcol1 #logoFace,
  .coluna1 .subcol1 #logoInsta {
    width: 2vw;
    height: auto;
  }
  
  .coluna2 .linha,
  .coluna3 .linha{
    padding: 0 0 10px 0;
  }

  .coluna2 a,
  .coluna3 a{
    font-size: 1rem;
  }

  #curiosidadeTexto p{
    font-size: 35px;
    line-height: 3rem;
  }
}


/*===========================MEDIA PARA TELA 1440PX===========================*/
@media screen and (max-width: 1440px) {
  .coluna1 .subcol1 #logoYT,
  .coluna1 .subcol1 #logoFace,
  .coluna1 .subcol1 #logoInsta {
    width: 4vw;
    height: auto;
  }

  #curiosidadeTexto{
    font-size: 15px;
    line-height: 2rem;
  }
}

/*===========================MEDIA PARA TELA 1024PX===========================*/
@media screen and (max-width: 1025px) {
  .curiosidadeDivImg{
    width: 70%;
  }
  
  .curiosidadeDivTexto{
    padding: 0 2rem;
  }
  
  #curiosidadeTexto{
    font-size: 12px;
    line-height: 2rem;
    padding: 0;
  } 

}



/*===========================MEDIA PARA TELA 768X===========================*/
@media screen and (max-width: 768px) {
  #logo{
    width: 20%;
    margin: 1rem 0 0 1rem;
  }

  .dropdown-header1,
  .dropdown-header2{
    font-size: 1rem;
  }

  .dropdown-option2{
    font-size: 1rem;
  }

/*==========CAROUSEL===========*/  
  .slide img{
    width: 400px;
  }

  .slider{
    height: 200px;
  }
  
  .slides{
    height: 200px;
  }

  .manual-btn{
    padding: 3px;
  }

  .navigation-auto div{
    padding: 3px;
  }

  .manual-navigation{
    margin: -16px 0 0 0;
  }

  .navigation-auto{
    margin: 11.5rem 0 0 0;
  }
  

/*==========CARDS===========*/
  #principios strong{
    font-size: 1.5rem;
  }

  .card1{
    display: none;
  }

/*===========================MEDIA PARA TELA 703PX===========================*/
@media screen and (max-width: 703px){
  .dropdown-header1,
  .dropdown-header2{
    width: 15vw;
    font-size: 1rem;
  }

  .colsheader .headercol1{
    width: 40%;
  }

  .colsheader .headercol2{
    width: 30%;
  }

}


/*===========================MEDIA PARA TELA 575PX===========================*/
@media screen and (max-width: 575px){
  .dropdown1,
  .dropdown2{
    display: none;
  }
}



/*===========================MEDIA PARA TELA 425PX===========================*/
@media screen and (max-width: 445px) {
  #logo{
    width: 40%;
    margin: 1.5rem 0 0 1rem;
  }

/*==========MAIN===========*/
  #divPai{
    margin: 0 0 2rem 0;
  }


/*==========CAROUSEL===========*/
.slide img{
  width: 200px;
}

.slider{
  height: 100px;
}

.slides{
  height: 100px;
}

.manual-btn{
  padding: 2px;
}

.navigation-auto div{
  padding: 2px;
}

.manual-navigation{
  margin: -10px 0 0 0;
}

.navigation-auto{
  margin: 5.6rem 0 0 0;
}





/*==========CARDS===========*/
#principios{
  margin: 0 0 2rem 0;
}

#principios strong{
  font-size: 1rem;
}

.card-deck{
  margin: 0 0 2rem 0;
}

.card2{
  display: none;
}

.card:not(:last-child){
  margin: 0 1rem 0 0;
}

.card2{
  display: none;
}

.card-title{
  font-size: 1rem;
}

.card-text{
  height: 5vh;
  font-size: 6px;
}

<<<<<<< HEAD



/*==========ODS===========*/







/*==========CURIOSIDADES=============*/

.curiosidade{
  height: 30vh;
  margin: 3rem;
}

.curiosidadeDivImg{
  width: 70%;
}

.curiosidadeDivTexto{
  padding: 0 2rem;
}

#curiosidadeTexto{
  font-size: 8px;
  line-height: 0.5rem;
  padding: 0;
} 


/*==========FOOTER===========*/
  footer{
    height: 25vh;
  }
  
  .linha2{
    margin: 0;
  }
  
  .coluna1 .subcol1 #logoInsta,
  .coluna1 .subcol1 #logoFace,
  .coluna1 .subcol1 #logoYT{
    width: 7vw;
  }
  
  .coluna1 a,
  .coluna2 a,
  .coluna3 a{
    font-size: 10px;
  }

  .coluna2,
  .coluna3{
    margin: 0;
  }

  .coluna1 .linha2{
    height: vh;
  }

  .coluna2 .linha,
  .coluna3 .linha{
    height: 4.5vh;
  }

  .coluna2 .linha,
  .coluna3 .linha{
    margin: 0;
  }

}



=======
>>>>>>> 45ec4c5a04b14bd2e24b05fa32de98e9cd1f23a7
/*===========================MEDIA PARA TELA 375PX===========================*/
@media screen and (max-width: 375px){
  #logo{
    width: 5vw;
    margin: 0.5rem 0 0 1rem;
  }

/*==========CARDS===========*/
  .card:not(:last-child){
    margin: 0;
  }

  #card3{
    margin: 0 0 0 -1rem;
  }

  #card3 .cardImg{
    margin: 0 auto -0.5rem auto;
  }

  .card-title{
    font-size: 10px;
  }
<<<<<<< HEAD

/*==========FOOTER===========*/
  footer{
    height: 26vh;
  }

  .coluna1 .linha2{
    height: 9vh;
  }
  
  .coluna2 .linha,
  .coluna3 .linha{
    justify-content: left;
  }

}






/*===========================MEDIA PARA TELA 320PX===========================*/
@media screen and (max-width: 321px) {
  footer{
    height: 20vh;
  }

  .linha2{
    margin: 0 0 -20px 0;
  }

  .coluna1 .subcol1{
    height: 0;
  }

  .coluna2 .linha,
  .coluna3 .linha{
    height: 3vh;
  }

  /*==========CARD===========*/
  #card3 .cardImg{
    margin: 0 auto;
  }

  #card3,
  #card4{
    margin: 0 0 0 1.5px;
  }

  .curiosidade{
    height: 20vh;
    margin: 3rem;
  }
  
  .curiosidadeDivImg{
    width: 70%;
  }
  
  .curiosidadeDivTexto{
    padding: 0;
  }
  
  #curiosidadeTexto{
    font-size: 6px;
    line-height: 0.5rem;
    padding: 0;
  } 
}
=======
>>>>>>> 45ec4c5a04b14bd2e24b05fa32de98e9cd1f23a7
}
