* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*===================HEADER======================*/

.colsheader {
  display: flex;
  flex-wrap: wrap;
}

.headercol {
  display: block;
  line-height: 10vh;
  text-align: center;
  background-color: #004a8d;
  margin: 0;
}

.colsheader .headercol1{
  vertical-align: middle;
  text-align: left;
  width: 52%;
}

.colsheader .headercol2,
.colsheader .headercol3,
.colsheader .headercol4,
.colsheader .headercol5{
  width: 12%;
}

/*=================DROPWDOWN===============*/



.headercol2 .dropbtn {
  background-color: #004a8d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10%;
}

.headercol2 .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
}


.link1{
  animation: cachoeira 1s;
}
@keyframes cachoeira{
  0% { opacity: 0; };
  50% { opacity: 0.5; };
  100% { opacity: 1; };
}

.headercol2 .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.headercol2 .dropdown-content a:hover {
  background-color: #f1f1f1;
}

.headercol2 .dropdown:hover .dropdown-content {
  display: block;
}

.headercol2 .dropdown:hover .dropbtn {
  background-color: #00396e;
  border-radius: 10%;
}

















/*====================FOOTER========================*/

footer {
    background-color: #004a8d;
    height: 41vh;
}
.coluna1 {
  width: 48%;
  float: left;
  text-align: center;
}

.coluna2 {
  width: 26%;
  float: left;
  text-align: center;
}

.coluna3 {
  width: 26%;
  float: left;
  text-align: center;
}

.coluna1 .linha1 {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna1 .subcol1 {
  width: 100%;
  float: left;
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna1 .subcol1 #logoInsta,
.coluna1 .subcol1 #logoFace,
.coluna1 .subcol1 #logoYT {
  width: 5vw;
  height: auto;
  margin-right: 8vw;
}

.coluna1 .subcol1 #logoYT {
  max-width: 100%;
  width: 3vw;
  height: auto;
  margin-right: 0;
}

.coluna1 .subcol1 #logoFace {
  max-width: 100%;
  width: 3vw;
  height: auto;
}

.coluna1 .subcol1 #logoInsta {
    max-width: 100%;
    width: 3vw;
    height: auto;
}

@media (max-width: 768px) {
    .coluna1 .subcol1,
    .coluna1 .subcol2,
    .coluna1 .subcol3 {
      width: 100%;
      float: none;
    }
}

.coluna1 .linha2 {
  height: 24vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coluna2 .linha,
.coluna3 .linha {
  height: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 8vh;
}

.coluna1 a,
.coluna2 a,
.coluna3 a{
  color: white;
}
